body {
    background-color: #c4b0aa;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.slider-container {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 50vh;
    position: relative;
}

.slider-image {
    margin: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    position: absolute;
    transition: transform 700ms ease-in-out;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

table {
    border-collapse: collapse;
    width: 50%;
    background-color: #ddd;
    margin: auto;
    border-radius: 20px;
}

table td,
table th {
    margin: 20px;
    padding: 8px;
}

.data {
    border: 2px solid #c4b0aa;
}

.input {
    display: flex;
    justify-content: center;
    margin: 40px;
    flex-wrap: wrap;
}

.inputfield1, .inputfield2, .btn {
    margin: 5px;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
}

.btn:hover {
    background-color: #c2a096;
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 15px 40px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}